@media (min-width: 768px) {
    #lvngImg {
        object-fit: cover;
        object-position: 0 65%;
    }
    .imgCarousel{
        height: 50vh;
        object-fit: cover;
        object-position: 0 100%;
    }
}

@media (min-width: 992px) {
    #lvngImg {
        height: 60vh;
        width: 90vw;
        object-fit: cover;
        object-position: 0 65%;
    }
    #SofaProducImg {
        height: 65vh;
        width: 90vw;
        object-fit: cover;
        object-position: 0 80%;
    }
    #SofaFabricImg{
        height: 85vh;
    }
    #SofaQualityImg{
        height: 90vh;
    }
    .imgCarousel{
        height: 35vh;
        width: 100%;
        object-fit: cover;
        object-position: 0 100%;
    }
}

.carousel.carousel-fade .carousel-inner .carousel-item, .carousel-caption {
    opacity: 0;
    transition: opacity ease-out .5s;
}

.carousel.carousel-fade .carousel-inner .carousel-item.active, .carousel-caption {
    opacity: 1;
    transition: opacity ease-out .5s;
}