@media (min-width: 768px) {
    #lvngImg {
        object-fit: cover;
        object-position: 0 65%;
    }
}

@media (min-width: 992px) {
    #lvngImg {
        height: 60vh;
        width: 90vw;
        object-fit: cover;
        object-position: 0 65%;
    }
    #SofaProducImg {
        height: 65vh;
        width: 90vw;
        object-fit: cover;
        object-position: 0 80%;
    }
    #SofaFabricImg{
        height: 85vh;
    }
    #SofaQualityImg{
        height: 90vh;
    }
}