/* Navbar and Body */
body {
    background-color: #F6E2B5;
}

.navbar {
    background-color: #D9BB9B;
}

@media (min-width: 768px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 2px;
    }

    #navCont {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

/* Footer */
#footerTag {
    background-color: #DACAA4;
    border-top: 2px solid #AE9882;
    bottom: 0;
}

.footerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerLink {
    color: #38382d;
    text-decoration: none;
}

.footerLink:hover {
    color: #08090a;
}

.footerEnd {
    list-style-type: none;
    color: #2c3136;
}

.footerLastLink {
    color: #2c3136;
    text-decoration: none;
}

.footerLastLink:hover {
    color: #000000;
}