.carousel.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1;
    transition: opacity ease-out .7s;
}